@font-face {
  font-family: OpenSauce;
  src: url(../public/font/OpenSauceFonts/Fonts/OpenSauceOne-Regular.ttf);
}

@font-face {
  font-family: OpenSauceLight;
  src: url(../public/font/OpenSauceFonts/Fonts/OpenSauceOne-Light.ttf);
}

@font-face {
  font-family: OpenSauceMedium;
  src: url(../public/font/OpenSauceFonts/Fonts/OpenSauceOne-Medium.ttf);
}


@font-face {
  font-family: OpenSauceBlack;
  src: url(../public/font/OpenSauceFonts/Fonts/OpenSauceOne-Black.ttf);
}

:root {
 --DarkBlue: #101728;
 --VeryDarkGray: #0f1819;
 --DarkGray: #191919;
 --LightGray: #4b4b4b;
 --VeryLightGray: #e8e8e8;

 --Blue: #1f41bb;
 --DarkPurple: #260e69;
 --Purple: #9340ff;

 --Pink: #ff3c5f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;

}